*.iml
target/*
.idea/*
out
target
.slcache/*

web-app/css/errors.css

web-app/images/skin/database_add.png

web-app/images/skin/database_delete.png

web-app/images/skin/database_edit.png

web-app/images/skin/database_save.png

web-app/images/skin/database_table.png

web-app/images/skin/exclamation.png

web-app/images/skin/house.png

web-app/images/skin/information.png

web-app/images/skin/shadow.jpg

web-app/images/skin/sorted_asc.gif

web-app/images/skin/sorted_desc.gif

web-app/images/spinner.gif

web-app/images/springsource.png

*/*.debhelper
*/*.debhelper.log
*.buildinfo
*.substvars
debian/files
debian/ala-collectory
